

html{
	scroll-behavior:smooth
}

body{
	background-color:#fff;
	color:#333;
	font-family:'Ubuntu', sans-serif;
	line-height:1.5;
	text-align: justify;
}

header h1{
	font-family:'Ubuntu', sans-serif;
	font-weight:300;
	font-size:2em;
	text-align:left;
	
}


h1,h2,h3,h4,h5,a{
	color:#0B3E7A
}

header{grid-area:header}

main{grid-area:main}

footer{grid-area:footer}

article{grid-area:article}

aside{grid-area:aside}


#wrapper{
	display:grid;
	grid-gap:0;
	grid-template-areas:"header" "main" "footer";
	
}

main{
	display:grid;
	grid-gap:0;
	grid-template-areas:"article" "aside";
}


#auglysing{
	display:flex;
	justify-content:center;
	align-items:center;
	align-content:center;
	text-align:center;
	margin-top:1em;
	padding:.5em;
	background-color:#eee;
	border-radius:.4em;
	box-shadow:inset 0 0 3em #999;
	overflow:hidden;


    
}





#augl{
	text-decoration:none;
	color: white;
}
.innihald{
	padding-bottom:1em;
	text-align:center;
}
#innihald h3,#innihald h4{
	color:#900
}



#intro{
	position:relative;
	animation:intro 15s infinite;
	animation-direction:alternate;

}

#pizza{
	position:relative;
	animation:toppur 10s infinite, rotation 10s infinite ;
	animation-timing-function: ease;
	
	width: 90px;
	
	
}


#hratt{
	position:relative;
	animation:blikk 0.5s infinite;
	
}

#hratt{

	background-color:#fff32e;
	color: white;
	background-image:
	linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	border:1px solid #951100;border-radius:5px;
	box-shadow:inset 0px 0px 0px 1px rgba(255,115,100,0.4),0 1px 3px #333;
	font:bold 1.4em/1 sans-serif;
	padding:12px 0 14px 0;
	text-align:center;
	text-shadow:0px -1px 1px rgba(0,0,0,0.8);
	width:150px;
	margin-bottom: 1em;
	
	

}

#hratt:hover{
	background-color:#f37873;
	background-image:
	linear-gradient(bottom, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	cursor:pointer;
}


a:visited{
	color:orange
}


footer p{
	text-align:left
}


				
@keyframes intro{
	0%{left:-15em}
	10%{left:0}
	90%{left:0}
	100%{left:55em}
}

@keyframes toppur{
	from{
		top:-10em
	}
	to{
		top:13em
	}
}
				
@keyframes blikk{
	0%{
		background-color:red;
		transform:rotate(0deg)
	}
	50%{
		background-color:yellow;
		transform:rotate(15deg)
	}
	100%{
		background-color:red;
		transform:rotate(-30deg)
	}
}


@keyframes rotation{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(359deg);
	}
}





@media screen and (min-width: 37.5em){
	header h1{
		font-size:3em;
		text-align:center;
		margin:1.5em 0 .2em 0;
	}
	main{
		grid-template-areas:"aside article";
		grid-template-columns:1fr 2fr
	}
	article{
		padding:.5em 1em;
	}
	aside{
		border-right:1px solid black;
		padding-right:1em
	}
	#mainarticle{
		margin-top:-2em;
	}
}


@media screen and (min-width: 48em){
	main{
		grid-template-areas:"aside article";
		grid-template-columns:1fr 3fr
	}
	article{
		padding:.5em 2em;
	}
	#asidegeym{
		margin-top:-1.3em;
	}
}

		
@media screen and (min-width: 60em){
	#wrapper{
		max-width:60em;
		margin:0 auto
	}
	header h1{
		font-size:4em;
		text-align:center;
		margin:1.5em 0 .5em 0;
	}
}
		

			


