html{
	scroll-behavior:smooth
}

body{
	background-color:#fff;
	color:#333;
	font-family:'Ubuntu', sans-serif;
	line-height:1.5;
}

h1,h2,h3,h4,h5,a{
	color:#0B3E7A;
}


*,*:before,*:after{
	box-sizing:border-box
}




header{grid-area:header}
main{grid-area:main}
footer{grid-area:footer}



.wrapper{
	display:grid;
	grid-gap:0;
	grid-template-areas:"header" "main" "footer";
	margin:0 1em 3em 1em;}



.gray{
	background-color: lightgray;
}

table{
	border:1px solid black;
	border-collapse:collapse;
	margin:0;
	padding:0;
	width:100%;
	table-layout:fixed;
}


table caption{
	font-size:1.5em;
	margin:.5em 0 .75em;
}

table tr{
	background:#ededed;
	border:1px solid #bbb;
	padding:.35em;
}

table th,table td{
	padding:.625em;
}

table th{
	font-size:.85em;
	letter-spacing:.1em;
	text-transform:
	uppercase;
	text-align:left; 
	text-indent: 1em;}

tbody tr:nth-child(even){
	background:lightgray;
}



.register form{
	margin-bottom:1em
}

.register legend{
	font-weight:bold
}

.register fieldset{
	border:1px solid #aaa;
	border-radius:.5em;
	padding:1em;
	margin:1em 0;
}
.register label{
	color:firebrick;
	cursor:pointer;
	font-weight:400
}

.register input,.register select,.register textarea{
	border:1px solid #c6c9cc;
	border-radius:5px;
	color:#444;
	display:inline;
	margin:5px 0 1em 0;
	padding:5px 8px;
}

.register select{
	height:2em;
	width:5em;
}

.register input[type=text],.register input[type=tel],.register input[type=email],.register textarea{
	width:100%;
}

.register textarea{
	font-family:monospace
}

.center{
	text-align: center;
	
}	
 

.register input[type=submit]{
	background-color:white;
	color:black;
	cursor:pointer;
	font-size:1.2em;
	padding: 0.5em;
	margin-left: auto;
	border: 0.5px solid black;
	border-radius:8px;
	
    
}


.register input[type=submit]:hover,.register input[type=submit]:active{
	background-color: black;
	color:white;
}


footer p{
	text-align:left
}

	
@media screen and (min-width: 37.5em){
	header h1{
		font-size:3em;
		text-align:center;
		margin:1.5em 0 .2em 0;
	}
}


@media screen and (min-width: 48em){

	.register form{
		max-width:35em;
	}
	.register fieldset{
		padding:1em 2em;
	}	
}


@media screen and (min-width: 60em){
	.wrapper{
		max-width:60em;
		margin:0 auto;
	}
	header h1{
		font-size:4em;
		text-align:
		center;
		margin:1.5em 0 .5em 0;
	}

	table{
		border:0
	}
	table caption{
		font-size:1.3em
	}
	table thead{
		display:none;
	}
	table tr{
		border-bottom:3px solid #c9c9c9;
		display:block;
		margin-bottom:.625em;
	}
	table td{
		border-bottom:1px solid #c9c9c9;
		display:block;
		font-size:.8em;
		text-align:right;
	}
	table td:before{
		content:attr(data-label);
		float:left;
		font-weight:bold;
		text-transform:uppercase;
	}
	table td:last-child{
		border-bottom:none;
	}



}






